- var css_path = '.'

doctype html
html(lang="ja")
    head(prefix="og: http://ogp.me/ns#")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Portfolio
        meta(name="description" content="説明")
        //- OGP
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://site-url.com")
        meta(property="og:title" content="Portfolio")
        meta(property="og:image" content="https://site-url.com/img/ogp.png")
        meta(property="og:description" content="説明")
        meta(property="og:locale" content="ja_JP")
        meta(property="og:site_name" content="サイトの名前")
        //- Twitterカード　 "summary_large_image" or "summary"
        meta(name="twitter:card" content="summary_large_image") 
        meta(name="twitter:site" content="@YourTwitterAccount")
        //- Windows用タイル設定
        meta(name="msapplication-TileImage" content="https://site-url.com/mstile.png")
        meta(name="msapplication-TileColor" content="#000000")
        //- Google Fonts
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&family=Quicksand:wght@300;400;500;700&display=swap")
        //- リセットCSS "reset.css" or "normalize.css"
        link(rel="stylesheet" href= css_path + "/css/reset.css")
        link(rel="stylesheet" href= css_path + "/css/style.css" type="text/css")
    body
        main.content
            section.top
                .top__inner
                    h1.top__title Portfolio 
                    p.top__sub Takahashi Hatsue
                    .top__icon.scroll-animation #[span]#[span]#[span] Scroll
            section.works
                h2.section-title Works
                figure.anmt-both.anmt
                    img.main__img(src= css_path + "/img/Mockup.png")
                .main__details
                    .detail__item.main__links
                        img.links__img(src= css_path + "/img/MenkouhuOGP.png")
                        .links__body
                            a.links__item(href="https://menkouhu.keyboard.jp/")
                                img.links__icon(src= css_path + "/img/iconLink.png")
                                img.links__QR(src= css_path + "/img/MenkouhuUrl.png")
                                p.links__link https://menkouhu.keyboard.jp/
                            a.links__item(href="https://github.com/maymo3/Menkouhu")
                                img.links__icon(src= css_path + "/img/iconGithub.png")
                                img.links__QR(src= css_path + "/img/MenkouhuGitHub.png")
                                p.links__link https://github.com/maymo3/Menkouhu
                    // /.main__links
                    .detail__item.main__body
                        .main__title 自作キーボード配列のLP
                        .main__skills
                            .main__language
                                .main__before-icon.before-icon pug→HTML
                                .main__before-icon.before-icon Sass→CSS
                            .main__app
                                .main__before-icon.before-icon Photoshop
                                .main__before-icon.before-icon illustrator
                                .main__before-icon.before-icon XD
                        p.main__text 既存のキーボード配列（QWERTY配列など）に効率の悪さを感じ、アプリでオリジナルのキーボード配列を作りました。もう何年も愛用しています。
                            | #[br]#[br]こちらはその配列をダウンロードしてもらうためのページです。レスポンシブ対応しています。
                    // /.main__body
                // /.main__details
                .cards.cards--col2 
                    .cards__item.card
                        figure.card__img-wrapper
                            img.card__img(src= css_path + "/img/Earphone.png")
                        .card__body
                            .card__before-icon.before-icon XD
                            h4.card__title コーポレートサイト
                            p.card__text オーディオ機器を扱う会社の商品情報のページです。
                    .cards__item.card
                        figure.card__img-wrapper
                            img.card__img(src= css_path + "/img/Fashion.png")
                        .card__body
                            .card__before-icon.before-icon XD
                            h4.card__title ファッションサイト
                            p.card__text 韓国のファッション通販サイトをイメージしてデザインしました。
                // /.cards--col2 
                .cards.cards--col3
                    .cards__item.card
                        figure.card__img-wrapper
                            img.card__img(src= css_path + "/img/Dental.png")
                        .card__body
                            .card__before-icon.before-icon Photoshop
                            h4.card__title 歯科医院バナー
                            p.card__text 近所の歯科医院の謳い文句を元にバナーを作成しました。
                    .cards__item.card
                        figure.card__img-wrapper
                            img.card__img(src= css_path + "/img/Plugin.png")
                        .card__body
                            .card__before-icon.before-icon Photoshop
                            h4.card__title 音楽ソフトバナー
                            p.card__text 一年の半分くらいは何らかのセールをしているソフト会社のバナーをイメージしました。
                // /.cards--col3
            // /.works
            section.about
                h2.section-title About
                .about__media
                    figure.about__img-wrapper 
                        img.about__img(src= css_path + "/img/Otako.png")
                    .about__body
                        p.about__text はじめまして。高橋初枝と申します。現在、WEBデザイナーやコーダーになるため勉強中です。
                            | #[br]#[br]最初はシステムエンジニアを目指してRubyなどを学習していましたが、もっとWEBサイトの見た目に関わる部分を扱いたいと思い、デザインを学びました。
                            | #[br]#[br]WEBデザインなどの知識は全て独学で、常に知らなかったことを学んでいくのを楽しんでいます。趣味では韓国語を独学し、韓国語能力試験６級（最上級）を取得しました。
                            | #[br]#[br]元々想像を形にしていくのが大好きです。趣味では洋裁、編み物などをしています。左の写真はオリジナルキャラで作った編みぐるみです。WEBデザインでは、見た目が綺麗なだけでなく、より使いやすく機能的なサイトが作れるよう学んでまいります。
            // /.about
            section.skills
                h2.section-title Skills
                h3.sub-title これまで学んだこと
                .skills__cards.learned-skills
                    .skills__item
                        figure.skills__img-wrapper 
                            img.skills__img(src= css_path + "/img/iconHTML5CSS3.png")
                        .skills__body
                            h4.skills__title HTML5 / CSS3
                            p.skills__text 現在CSS設計を学習中です。
                    .skills__item
                        figure.skills__img-wrapper 
                            img.skills__img(src= css_path + "/img/iconpugSass.png")
                        .skills__body
                            h4.skills__title pug / Sass
                            p.skills__text .pugと.sassファイルをnpm-scriptsでコンパイルしています。
                    .skills__item
                        figure.skills__img-wrapper 
                            img.skills__img(src= css_path + "/img/iconJavaScript.png")
                        .skills__body
                            h4.skills__title JavaScript
                            p.skills__text jQueryも使っていましたが素のJavaScriptも書いています。
                    .skills__item
                        figure.skills__img-wrapper 
                            img.skills__img(src= css_path + "/img/iconPhotoshop.png")
                        .skills__body
                            h4.skills__title Photoshop
                            p.skills__text バナー作成、画像編集など
                    .skills__item
                        figure.skills__img-wrapper 
                            img.skills__img(src= css_path + "/img/iconillustrator.png")
                        .skills__body
                            h4.skills__title illustrator
                            p.skills__text ロゴ作成、画像素材の作成など
                    .skills__item
                        figure.skills__img-wrapper 
                            img.skills__img(src= css_path + "/img/iconXD.png")
                        .skills__body
                            h4.skills__title XD
                            p.skills__text ワイヤーフレーム、デザインカンプ、プロトタイプの制作
                // /.learned-skills
                h3.sub-title これから学びたいこと
                .skills__cards.learning-skills
                    .skills__item
                        figure.skills__img-wrapper 
                            img.skills__img(src= css_path + "/img/iconWordpress.png")
                        .skills__body
                            h4.skills__title Wordpress
                            p.skills__text 今後勉強していきます。
                    .skills__item
                        figure.skills__img-wrapper 
                            img.skills__img(src= css_path + "/img/iconReact.png")
                        .skills__body
                            h4.skills__title React
                            p.skills__text 勉強中です。
                // /.learning-skills
            // /.skills
        // .content
        script(src= css_path + "/js/script.js")